body {
  background: powderblue;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.full-screen-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

nav {
  padding: 20px;
}

nav a {
  margin: 40px;
}

.error {
  color: red;
}

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: transparent black black black;
  animation: spinner infinite linear 1s;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  display: flex;
  justify-content: center;
}

form input,
form button {
  padding: 5px 20px;
}
form input,
form button {
  display: block;
  margin: 10px auto;
}
